<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login simple mail</title>
</head>
<body>
    <div class="topo">

        <div class="form-container">
            <h2>Simple mail</h2>
            <ul>
                <li><input type="text" name="E-mail" placeholder="E-mail"></li>
                <li><input type="password" name="Senha" id="password" placeholder="......"></li>
                <li><input type="button" name="Enviar" value="Enviar"></li>
    
            </ul>
        </div>
    </div>
    
    
</body>
</html>