<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple mail</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
      <div class="sidebar">
        <header>Meu e-mail</header>
        <ul>
            <li><a href="inbox.html"><i class="fas fa-box"></i> Caixa de entrada</a></li>
            <li class="active"><a href="email.html"><i class="fas fa-envelope"></i> Nova menssagem</a></li>
            <li><a href="bin.html"><i class="fas fa-trash"></i> Lixo eletronico</a></li>

        </ul>
    </div>



    
</body>
</html>